@page "{topic}"
@model OpposingViewpoints.Pages.ArticlesModel
@{
    ViewData["Title"] = "Articles - " + Model.Topic;
}

<div class="row" style="padding-top:10px;">
    <h4 style="text-align: center;">@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.Topic)</h4>
    <div class="col card border-success mb-3" style="display:inline">
        <h4 class="article-card-type">For</h4>
        @foreach (var article in Model.Articles.Where(a => a.bias == Enums.BiasEnum.For))
        {
            <div class="card-body for-neutral-against">
                <p class="card-text">
                    <h5 class="card-title">@article.title</h5>
                    <i class="article-summary">@(article.abstrTrunc != null && article.abstrTrunc.Length > 0 ? article.abstrTrunc : "No abstract")<br /></i>
                    <span class="article-details">
                        Authors:@string.Join(',', @article.authors.Select(x => " " + x.name))
                    </span>
                    <br>
                        <span class="article-details">
                            Journal: @article?.journal?.name
                        </span>
                    <br>
                            <span class="article-details">
                                Year: @article.year
                            </span>
                    <br>
                                <span class="article-details">
                                    Times Cited: @article.citationCount
                                </span>
                    <br>
                    <a href="@article.url">Link</a>
                </p>
            </div>
        }
    </div>
    <div class="col card border-info mb-3" style="display:inline">
        <h4 class="article-card-type">Neutral</h4>
        @foreach (var article in Model.Articles.Where(a => a.bias == Enums.BiasEnum.Neutral))
        {
            <div class="card-body for-neutral-against">
                <p class="card-text">
                    <h5 class="card-title">@article.title</h5>
                    <i class="article-summary">@(article.abstrTrunc != null && article.abstrTrunc.Length > 0 ? article.abstrTrunc : "No abstract")<br /></i>
                    <span class="article-details">
                        Authors:@string.Join(',', @article.authors.Select(x => " " + x.name))
                    </span>
                    <br>
                        <span class="article-details">
                            Journal: @(article?.journal?.name)
                        </span>
                    <br>
                            <span class="article-details">
                                Year: @article.year
                            </span>
                    <br>
                                <span class="article-details">
                                    Times Cited: @article.citationCount
                                </span>
                    <br>
                    <a href="@article.url">Link</a>
                </p>
            </div>
        }
    </div>
    <div class="col card border-danger mb-3">
        <h4 class="article-card-type">Against</h4>
        @foreach (var article in Model.Articles.Where(a => a.bias == Enums.BiasEnum.Against))
        {
            <div class="card-body for-neutral-against">
                <p class="card-text">
                    <h5 class="card-title">@article.title</h5>
                    <i class="article-summary">@(article.abstrTrunc != null && article.abstrTrunc.Length > 0 ? article.abstrTrunc : "No abstract")<br /></i>
                    <span class="article-details">Authors:@string.Join(',', @article.authors.Select(x => " " + x.name))</span>
                    <br>
                    <span class="article-details">
                        Journal: @(article?.journal?.name)</span>
                    <br>
                    <span class="article-details">Year: @article.year</span>
                    <br>
                    <span class="article-details">
                        Times Cited: @article.citationCount</span>
                    <br>
                    <a href="@article.url" class="article-details">Link</a>
                </p>
            </div>
        }
    </div>
</div>