@page
@model OpposingViewpoints.Pages.ArticlesModel
@{
    ViewData["Title"] = "Articles";
}

<div class="row">
    <div class="col" style="border:2px solid MediumSeaGreen;">
        <h2>For</h2>
        @foreach (var article in Model.Articles.Where(a => a.bias == Enums.BiasEnum.For))
        {
            <p>
                <b>@article.title</b>
                <br>

                <i>@article.abstr?.Length > 300 ? @article.abstr?.Substring(0, 299) : @article.abstr</i>
                <br>
                Authors:
                <br>
                <ul>
                    @foreach (var author in article.authors)
                    {
                        <li>
                            @author.name
                        </li>
                    }
                </ul>
                Journal: @(article.journal?.name ?? "N/A")
                <br>
                <a href="@article.url">Link</a>
            </p>
            <br>
        }
    </div>
    <div class="col" style="border:2px solid grey">
        <h2>Neutral</h2>
        @foreach (var article in Model.Articles.Where(a => a.bias == Enums.BiasEnum.Neutral))
        {
            <p>
                <b>@article.title</b>
                <br>

                <i>@article.abstr?.Length > 300 ? @article.abstr?.Substring(0, 299) : @article.abstr</i>
                <br>
                Authors:
                <br>
                <ul>
                    @foreach (var author in article.authors)
                    {
                        <li>
                            @author.name
                        </li>
                    }
                </ul>
                Journal: @(article.journal?.name ?? "N/A")
                <br>
                <a href="@article.url">Link</a>
            </p>
            <br>
        }
    </div>
    <div class="col" style="border:2px solid Tomato;">
        <h2>Against</h2>
        @foreach (var article in Model.Articles.Where(a => a.bias == Enums.BiasEnum.Against))
        {
            <p>
                <b>@article.title</b>
                <br>

                <i>@article.abstr?.Length > 300 ? @article.abstr?.Substring(0, 299) : @article.abstr</i>
                <br>
                Authors:
                <br>
                <ul>
                    @foreach (var author in article.authors)
                    {
                        <li>
                            @author.name
                        </li>
                    }
                </ul>
                Journal: @(article.journal?.name ?? "N/A")
                <br>
                <a href="@article.url">Link</a>
            </p>
            <br>
        }
    </div>
</div>