@page
@using OpposingViewpoints.Models
@model IndexModel
@{
    ViewData["Title"] = "Search for opposing articles on controversial topics";
}
<div class="text-center">
    <h1 class="display-4 home-page-text">Search for opposing articles</h1>
    <div class="form">
        <form method="post" class="d-inline-flex justify-content-center" style="max-width:70%;">
            <input class="form-control" type="text" id="searchTerm" name="searchTerm" style="width:350px;" placeholder="Enter a topic you'd like opposing viewpoints on" />
            <input id="searchBtn" class="btn btn-secondary" type="submit" value="Search" asp-page-handler="SearchArticles" />
        </form>
    </div>
    @if (Model.SearchesInCache)
    {
        <h4>Recent Searches:</h4>
@*        @foreach (CacheModel cachedSearch in Model.CachedSearches.Values.Cast<CacheModel>())
        {
            <a asp-page-handler="CachedArticles" asp-route-value="@cachedSearch.SearchTerm">@cachedSearch.SearchTerm</a>
            if (cachedSearch != Model.CachedSearches.Values.Cast<CacheModel>().Last())
            {
                <span>|</span>
            }
        }*@
        <br />
    }

    <br />
    <h3>Popular Issues</h3>
    <div id="carouselExampleSlidesOnly" class="carousel-dark slide" data-bs-ride="carousel" style="margin: auto;width: 80%; height: 50%;" display="inline">
        <div class="carousel-inner">
            @foreach (var topic in Model.ControversialTopics)
            {
                <div class="carousel-item @(topic == Model.ControversialTopics.First() ? "active" : "")" style="width: 100%; height: 100%; overflow: hidden;">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title popular-issue-title"><a class="text" style="text-decoration: none;color: inherit;" asp-page-handler="SearchArticles" asp-route-value="@topic.topic">@(topic.topic)</a></h5>
                        </div>
                        <a asp-page-handler="SearchArticles" asp-route-value="@topic.topic"><img class="d-block w-100" src="@topic.image" alt="..." style="width: 800px; height: 400px; object-fit: cover; object-position: 50% 50%;"></a>
                        <div class="card-body">
                            <p>@(topic.description.Length > 300 ? topic.description.Substring(0, 300) + "..." : topic.description)</p>
                            <a href="@topic.link">Read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <h3>Examples</h3>
    <h4> <a asp-page-handler="SearchArticles" asp-route-value="Gun Control" style="text-decoration: none;color: inherit;">Gun Control</a></h4>
    <div class="row" style="padding-top:10px;">
        <div class="col card border-success mb-3" style="display:inline">
            <h4 class="article-card-type">For</h4>
        </div>
        <div class="col card border-info mb-3" style="display:inline">
            <h4 class="article-card-type">Neutral</h4>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">State Gun-Control, Gun-Rights, and Preemptive Firearm-Related Laws Across 50 US States for 2009‒2018.</h5>
                <i class="article-summary">Objectives. To assess state policy environments and the relationship between state gun-control, gun-rights, and preemptive ﬁrearm-related laws in the United States. Methods. In 2019 through 2020, we evaluated substantive ﬁrearm laws and preemptive ﬁrearm laws across 50 US states for 2009 through 201...<br></i>
                <span class="article-details">
                    Authors: Jennifer L. Pomeranz, D. Silver, Sarah A. Lieff
                </span>
                <br>
                <span class="article-details">
                    Journal: American journal of public health
                </span>
                <br>
                <span class="article-details">
                    Year: 2021
                </span>
                <br>
                <span class="article-details">
                    Times Cited: 5
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/9ecdf6197b9dd601b68c8d332ceb8f864fe7ab58">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">The Christchurch mosque shooting, the media, and subsequent gun control reform in New Zealand: a descriptive analysis</h5>
                <i class="article-summary">In March 2019, a mass shooting at two Christchurch mosques, livestreamed to Facebook, resulted in the deaths of 51 people. Psychologically, this served as a focusing event with high threat salience, shocking a country unused to gun violence despite its comparatively lax firearm legislation. The unpr...<br></i>
                <span class="article-details">
                    Authors: S. Every-Palmer, R. Cunningham, M. Jenkins, E. Bell
                </span>
                <br>
                <span class="article-details">
                    Journal: Psychiatry, Psychology and Law
                </span>
                <br>
                <span class="article-details">
                    Year: 2020
                </span>
                <br>
                <span class="article-details">
                    Times Cited: 8
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/79fee526ceb98cf1f1fca7d505be9975254bd676">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Gun Control in the Crosshairs: Christian Nationalism and Opposition to Stricter Gun Laws</h5>
                <i class="article-summary">Despite increasingly frequent mass shootings and a growing dissatisfaction with current gun laws, American opposition to federal gun legislation remains strong. The authors show that opposition to stricter gun control is closely linked to Christian nationalism, a religious cultural framework that ma...<br></i>
                <span class="article-details">
                    Authors: Andrew L. Whitehead, Landon Schnabel, Samuel L. Perry
                </span>
                <br>
                <span class="article-details">
                    Journal: Socius
                </span>
                <br>
                <span class="article-details">
                    Year: 2018
                </span>
                <br>
                <span class="article-details">
                    Times Cited: 44
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/83275c8a90c7981245482f78c1fa81233abb601d">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Authoritarian Personality and Gender Differences in Gun Control Attitudes</h5>
                <i class="article-summary">ABSTRACT This article investigates the gender gap in gun control attitudes, in which women are more likely to support gun control than men. Women are less likely than men to own a gun and to see owning guns as a means of self-protection. Using the 2012 American National Election Study Data, this art...<br></i>
                <span class="article-details">
                    Authors: M. Lizotte
                </span>
                <br>
                <span class="article-details">
                    Journal: Journal of Women, Politics &amp; Policy
                </span>
                <br>
                <span class="article-details">
                    Year: 2019
                </span>
                <br>
                <span class="article-details">
                    Times Cited: 7
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/7d1a2884139cbd5de2294c79387a089cb94d3d84">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Critical Events and Attitude Change: Support for Gun Control After Mass Shootings</h5>
                <i class="article-summary">When and to what extent do crises and significant events induce changes in political attitudes? Theories of public opinion and policymaking predict that major events restructure public opinion and pry open new political opportunities. We examine the effect of major events on support for public polic...<br></i>
                <span class="article-details">
                    Authors: Jon C. Rogowski, P. Tucker
                </span>
                <br>
                <span class="article-details">
                    Journal: Political Science Research and Methods
                </span>
                <br>
                <span class="article-details">
                    Year: 2018
                </span>
                <br>
                <span class="article-details">
                    Times Cited: 13
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/42c4e56ab7c2cc8c3b42e1db0901e1450ec228bf">Link</a>
                <p></p>
            </div>
        </div>
        <div class="col card border-danger mb-3">
            <h4 class="article-card-type">Against</h4>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">GUN control in retrograde signaling: How GENOMES UNCOUPLED proteins adjust nuclear gene expression to plastid biogenesis.</h5>
                <i class="article-summary">Communication between cellular compartments is vital for development and environmental adaptation. Signals emanating from organelles, so-called retrograde signals, coordinate nuclear gene expression with the developmental stage and/or the functional status of the organelle. Plastids (best known in t...<br></i>
                <span class="article-details">Authors: Guo-Zhang Wu, R. Bock</span>
                <br>
                <span class="article-details">
                    Journal: The Plant cell
                </span>
                <br>
                <span class="article-details">Year: 2021</span>
                <br>
                <span class="article-details">
                    Times Cited: 25
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/5b4582eea849e409b052e23af5d52613dc9e0190" class="article-details">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Gun Owners and Gun Control: Shared Status, Divergent Opinions</h5>
                <i class="article-summary">No abstract<br></i>
                <span class="article-details">Authors: A. L. Burton, M. Logan, Justin T. Pickett, F. T. Cullen, Cheryl Lero Johnson, Velmer S. Burton</span>
                <br>
                <span class="article-details">
                    Journal: Sociological Inquiry
                </span>
                <br>
                <span class="article-details">Year: 2021</span>
                <br>
                <span class="article-details">
                    Times Cited: 8
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/6611f320a814eb9167fac89dd32a6a59d6336db0" class="article-details">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Assessing the Impact of Knowledge and Location on College Students’ Perceptions of Gun Control and Campus Carry Policies: a Multisite Comparison</h5>
                <i class="article-summary">No abstract<br></i>
                <span class="article-details">Authors: Nathan E. Kruis, Richard Wentling, Mark H. Heirigs, Glen A Ishoy</span>
                <br>
                <span class="article-details">
                    Journal: American Journal of Criminal Justice
                </span>
                <br>
                <span class="article-details">Year: 2020</span>
                <br>
                <span class="article-details">
                    Times Cited: 13
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/5cd10a8c62ae0a11d8f6943de5ca1e85d387f55d" class="article-details">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Neural Network-Based Error-Tracking Iterative Learning Control for Tank Gun Control Systems With Arbitrary Initial States</h5>
                <i class="article-summary">In this paper, a novel neural network-based error-track iterative learning control scheme is proposed to tackle trajectory tracking problem for tank gun control systems. Firstly, the system modeling for tank gun control systems is introduced as a preparation of controller design. Then, the reference...<br></i>
                <span class="article-details">Authors: Qiyao Yang, Q. Yan, Jianping Cai, Jinghua Tian, X. Guan</span>
                <br>
                <span class="article-details">
                    Journal: IEEE Access
                </span>
                <br>
                <span class="article-details">Year: 2020</span>
                <br>
                <span class="article-details">
                    Times Cited: 15
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/42148aee5f44f805fb77a85fa36f12ad2d637aad" class="article-details">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Explaining Gun Deaths: Gun Control, Mental Illness, and Policymaking in the American States</h5>
                <i class="article-summary">No abstract<br></i>
                <span class="article-details">Authors: Jacob Smith, Jonathan Spiegler</span>
                <br>
                <span class="article-details">
                    Journal: Policy Studies Journal
                </span>
                <br>
                <span class="article-details">Year: 2020</span>
                <br>
                <span class="article-details">
                    Times Cited: 18
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/031edf09d96ff41d99dc488df415163020099346" class="article-details">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Active Disturbance Rejection Adaptive Control of Tank Turret-gun Control Systems</h5>
                <i class="article-summary">Aiming at parametric uncertainties and unmodeled disturbances of tank turret-gun control systems, this paper presents an adaptive control scheme via full state feedback. The basic idea of this control scheme is to combine adaptive control with extended state observer through back stepping method. Th...<br></i>
                <span class="article-details">Authors: Shusen Yuan, Jianyong Yao, W. Deng, Guolai Yang, Xiang-Hua Ma</span>
                <br>
                <span class="article-details">
                    Journal: 2020 39th Chinese Control Conference (CCC)
                </span>
                <br>
                <span class="article-details">Year: 2020</span>
                <br>
                <span class="article-details">
                    Times Cited: 3
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/3ab8759f73a4d8282364b74405fab39a0f66109a" class="article-details">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Event-Triggered Adaptive Control for Tank Gun Control Systems</h5>
                <i class="article-summary">In this paper, an event-triggered adaptive control scheme is proposed for the gun control system of a tank subject to not only external disturbances but also uncertain modeling errors and unknown parameters. Compared with the existing results, the upper bound function of modeling errors is unknown. ...<br></i>
                <span class="article-details">Authors: Jianping Cai, Rui Yu, Q. Yan, Congli Mei, Binrui Wang, Lujuan Shen</span>
                <br>
                <span class="article-details">
                    Journal: IEEE Access
                </span>
                <br>
                <span class="article-details">Year: 2019</span>
                <br>
                <span class="article-details">
                    Times Cited: 14
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/89a3479c4fe9655c6053f1809e3992b964c5750c" class="article-details">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Robust Learning Control for Tank Gun Control Servo Systems Under Alignment Condition</h5>
                <i class="article-summary">This paper proposes an adaptive learning control scheme to solve high-precision velocity tracking problem for tank gun control servo systems. Lyapunov approach is used to design the learning controller, with alignment condition used to cope with initial problem of iterative learning control. Robust ...<br></i>
                <span class="article-details">Authors: Guangming Zhu, Xiushan Wu, Q. Yan, Jianping Cai</span>
                <br>
                <span class="article-details">
                    Journal: IEEE Access
                </span>
                <br>
                <span class="article-details">Year: 2019</span>
                <br>
                <span class="article-details">
                    Times Cited: 12
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/96295e4e5c050a4a652d0dd2a64b9b2c787309a2" class="article-details">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Gun Control</h5>
                <i class="article-summary">No abstract<br></i>
                <span class="article-details">Authors: W. Jeynes</span>
                <br>
                <span class="article-details">
                    Journal: Reducing School Shootings
                </span>
                <br>
                <span class="article-details">Year: 2020</span>
                <br>
                <span class="article-details">
                    Times Cited: 0
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/13839d732bcb8249cc792583e7d690cc661ac045" class="article-details">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">What Americans Think About Gun Control: Evidence from the General Social Survey, 1972-2016</h5>
                <i class="article-summary">Objective Gun control is a classic case of policy gridlock and we commonly assume public opinion is at the foundation of this gridlock. However, public opinion analyses of attitudes about gun control often say little about the topic itself and do not fully leverage our long‐running survey data to as...<br></i>
                <span class="article-details">Authors: Steven V. Miller</span>
                <br>
                <span class="article-details">
                    Journal: Social Science Quarterly
                </span>
                <br>
                <span class="article-details">Year: 2018</span>
                <br>
                <span class="article-details">
                    Times Cited: 18
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/1eafc548e9a221f8daf9c8efc907a8265855c1b4" class="article-details">Link</a>
                <p></p>
            </div>
        </div>
    </div>

    <h4> <a asp-page-handler="SearchArticles" asp-route-value="Cancel Culture" style="text-decoration: none;color: inherit;">Cancel Culture</a></h4>
    <div class="row" style="padding-top:10px;">
        <div class="col card border-success mb-3" style="display:inline">
            <h4 class="article-card-type">For</h4>
        </div>
        <div class="col card border-info mb-3" style="display:inline">
            <h4 class="article-card-type">Neutral</h4>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Cancel Culture: Myth or Reality?</h5>
                <i class="article-summary">In recent years, a progressive “cancel culture” in society, right-wing politicians and commentators claim, has silenced alternative perspectives, ostracized contrarians, and eviscerated robust intellectual debate, with college campuses at the vanguard of this development. These arguments can be dism...<br></i>
                <span class="article-details">
                    Authors: P. Norris
                </span>
                <br>
                <span class="article-details">
                    Journal: Political Studies
                </span>
                <br>
                <span class="article-details">
                    Year: 2021
                </span>
                <br>
                <span class="article-details">
                    Times Cited: 33
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/68c6013538700c14aad1e2b9499e88516d21d7cc">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">We Are Cancelled: Exploring Victims’ Experiences of Cancel Culture on Social Media in the Philippines</h5>
                <i class="article-summary">The continuous advancement of modern technology enables its users to engage in various interactions in the online public sphere, including conversations about multiple ideas and perspectives. It has now played a significant role in our modern society, paving the door for several participatory cultur...<br></i>
                <span class="article-details">
                    Authors: Joseph Leonard A. Jusay, Jeremiah Armelin S. Lababit, Lemuel Oliver M. Moralina, J. Ancheta
                </span>
                <br>
                <span class="article-details">
                    Journal: Rupkatha Journal on Interdisciplinary Studies in Humanities
                </span>
                <br>
                <span class="article-details">
                    Year: 2022
                </span>
                <br>
                <span class="article-details">
                    Times Cited: 0
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/363761d0176e63b83938417a9761501f425783e9">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Cancel Culture: An Unproductive Form of Blame</h5>
                <i class="article-summary">In this paper I argue that Miranda Fricker’s account of blame in “What’s the Point of Blame? A Paradigm Based Explanation” can assist in explaining why cancel culture is ultimately unproductive. In particular, the phenomenon of cancel culture possesses pathological forms of blame. There are three sp...<br></i>
                <span class="article-details">
                    Authors: Boochie Post
                </span>
                <br>
                <span class="article-details">
                    Journal: Ex Animo
                </span>
                <br>
                <span class="article-details">
                    Year: 2022
                </span>
                <br>
                <span class="article-details">
                    Times Cited: 0
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/96ad8d7031075d1d57d4ef38626f5c69a265341d">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Principled or Partisan? The Effect of Cancel Culture Framings on Support for Free Speech</h5>
                <i class="article-summary">Political scientists have long been interested in the effects that media framings have on support or tolerance for controversial speech. In recent years, the concept of cancel culture has complicated our understanding of free speech. In particular, the modern Republican Party under Donald Trump has ...<br></i>
                <span class="article-details">
                    Authors: James J. Fahey, Damon C. Roberts, S. Utych
                </span>
                <br>
                <span class="article-details">
                    Journal: American Politics Research
                </span>
                <br>
                <span class="article-details">
                    Year: 2022
                </span>
                <br>
                <span class="article-details">
                    Times Cited: 0
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/c42d4b636f81f8fc5e22a9adc4ed30ae23d48f24">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">CANCEL CULTURE AND ACADEMIC FREEDOM: A Perspective from Democratic-Deliberative Education Philosophy</h5>
                <i class="article-summary">Cancel culture (or also known as call-out culture) is a social and cultural phenomenon that has been gaining global attention in the recent years. Public figures, company brands or institutions can be ostracized or boycotted only on the basis of disagreeing with the statement or visions of the sympa...<br></i>
                <span class="article-details">
                    Authors: T. Kurniawan, Rambang Ngawan, Yudas Alno, Agus Herianto
                </span>
                <br>
                <span class="article-details">
                    Journal: Waskita: Jurnal Pendidikan Nilai dan Pembangunan Karakter
                </span>
                <br>
                <span class="article-details">
                    Year: 2022
                </span>
                <br>
                <span class="article-details">
                    Times Cited: 0
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/521e376584b5a8b0ad8fd11b518a1bfc08a90557">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Cancel Culture in World Politics: Historical and Philosophical Roots</h5>
                <i class="article-summary">In the West, "cancel culture” is spreading at epidemic speed as a vehicle of the "new ethics.” Although the concept of "cancel culture” remains opportunistic, there is a perceived need to identify the subject of research of this phenomenon from the standpoint of political science and meth-ods of his...<br></i>
                <span class="article-details">
                    Authors: Sergey CHUGROV
                </span>
                <br>
                <span class="article-details">
                    Journal: Social Sciences
                </span>
                <br>
                <span class="article-details">
                    Year: 2022
                </span>
                <br>
                <span class="article-details">
                    Times Cited: 0
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/1de5e2a5ac70db338485df7d8538e3262d33d2c9">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Kim Seon Ho, You Are Cancelled: The Collective Understanding of Cancel Culture</h5>
                <i class="article-summary">On October 2021, Kim Seon Ho was on peak of his career when faced a wave of backlash after an anonymous post circulated in online communities saying that an unnamed actor “manipulated her into getting an abortion under false pretenses” and being cancelled. Researchers will use a case study of a Kim ...<br></i>
                <span class="article-details">
                    Authors: C. Bangun, Nareswari Kumaralalita
                </span>
                <br>
                <span class="article-details">
                    Journal: Jurnal Komunikatif
                </span>
                <br>
                <span class="article-details">
                    Year: 2022
                </span>
                <br>
                <span class="article-details">
                    Times Cited: 0
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/aad94495c784aa7adc2e6ca7516937a6c6488563">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Remembering contested legacies of the past or when the culture of remembrance gives way to the cancel culture</h5>
                <i class="article-summary">Everyday life is filled with numerous images of what has passed. All of them, although on different bases, leave a mark in time and thus become legacies of the past. Although we usually understand and accept this inherited corpus without a problem, sometimes we face certain inconveniences. For examp...<br></i>
                <span class="article-details">
                    Authors: Milica Božić-Marojević
                </span>
                <br>
                <span class="article-details">
                    Journal: Zbornik radova Filozofskog fakulteta u Pristini
                </span>
                <br>
                <span class="article-details">
                    Year: 2022
                </span>
                <br>
                <span class="article-details">
                    Times Cited: 0
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/f980ddbc2c2b4338433bf276be0854da50e133a0">Link</a>
                <p></p>
            </div>
        </div>
        <div class="col card border-danger mb-3">
            <h4 class="article-card-type">Against</h4>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">The moderating role of complaint handling on brand hate in the cancel culture</h5>
                <i class="article-summary">PurposeThis study investigates the moderating role of complaint handling between ideological incompatibility, symbolic incongruity, negative past experience and corporate social irresponsibility on brand hate.Design/methodology/approachThe study employs the Duplex Hate theory which assumes that hate...<br></i>
                <span class="article-details">Authors: A. Z. Abbasi, Muhammad Shahzeb Fayyaz, D. Ting, Maira Munir, Shahid Bashir, Chun Zhang</span>
                <br>
                <span class="article-details">
                    Journal: Asia-Pacific Journal of Business Administration
                </span>
                <br>
                <span class="article-details">Year: 2022</span>
                <br>
                <span class="article-details">
                    Times Cited: 5
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/29715ca3290b94ec2697cdb15b1744e92d0359f2" class="article-details">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Platform drama: “Cancel culture,” celebrity, and the struggle for accountability on YouTube</h5>
                <i class="article-summary">Recent years have witnessed debates about so-called “cancel culture” and more broadly about online accountability practices. Here we revisit this topic through a study of YouTube “drama,” a hybrid genre where creators provide commentary on the scandals, scams, and feuds between YouTube celebrities. ...<br></i>
                <span class="article-details">Authors: Rebecca Lewis, Angèle Christin</span>
                <br>
                <span class="article-details">
                    Journal: New Media &amp; Society
                </span>
                <br>
                <span class="article-details">Year: 2022</span>
                <br>
                <span class="article-details">
                    Times Cited: 5
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/d5c80c21d2afa41ac16240027d6fc17e38d3eb40" class="article-details">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">The Discourse around Cancel Culture as an Object of Linguocultural and Translation Analysis: Logic vs “Logic”</h5>
                <i class="article-summary">The article deals with discursive manifestation forms of the cultural and ideological content of cancel culture and woke movements. It is suggested that these phenomena are connected by cause (woke) and effect (cancel) relation. Both are analyzed in terms of the discursive semantics, which is mainly...<br></i>
                <span class="article-details">Authors: A. F. Fefelov</span>
                <br>
                <span class="article-details">
                    Journal: NSU Vestnik. Series: Linguistics and Intercultural Communication
                </span>
                <br>
                <span class="article-details">Year: 2022</span>
                <br>
                <span class="article-details">
                    Times Cited: 5
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/d4ecdd716b6702a6f9be25faaeaaced1ae78790e" class="article-details">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Cancel Culture in the Academia: The hispanic perspective</h5>
                <i class="article-summary">Although many cases of the so-called Cancel Culture in the American and British colleges and are taking place nowadays, social science researchers claim for a better understanding of the phenomenon and a clarification of the concept. In this context, cultural perspectives can be an interesting tool ...<br></i>
                <span class="article-details">Authors: Teresa Sádaba, M. Herrero</span>
                <br>
                <span class="article-details">
                    Journal: methaodos revista de ciencias sociales
                </span>
                <br>
                <span class="article-details">Year: 2022</span>
                <br>
                <span class="article-details">
                    Times Cited: 2
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/9125e6f448440c74f39c4956bb0aceeac737ba34" class="article-details">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">The Cancer of Cancel Culture: Spreading “Correct” Scientific Ideologies Across North American Academia</h5>
                <i class="article-summary">No abstract<br></i>
                <span class="article-details">Authors: J. Pfaus</span>
                <br>
                <span class="article-details">
                    Journal: Archives of Sexual Behavior
                </span>
                <br>
                <span class="article-details">Year: 2022</span>
                <br>
                <span class="article-details">
                    Times Cited: 2
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/0f5432abcffab73c3b316185bf71c8b2154a102b" class="article-details">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">Cancel culture, libertatea și omul complet</h5>
                <i class="article-summary">"Cancel culture refers to a social phenomenon that has been little explored in Romania. There has not been much debate and often this concern to better understand the history and to question certain things has been seen as an attack on the foundations of society and its values, as an attack stemming...<br></i>
                <span class="article-details">Authors: R. Pop</span>
                <br>
                <span class="article-details">
                    Journal: Symbolon
                </span>
                <br>
                <span class="article-details">Year: 2022</span>
                <br>
                <span class="article-details">
                    Times Cited: 0
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/d4d6037db52645d80326a43c58f81b99971bd3d1" class="article-details">Link</a>
                <p></p>
            </div>
            <div class="card-body for-neutral-against">
                <p class="card-text">
                </p><h5 class="card-title">A Cancel Culture Corpus through the Lens of Natural Language Processing</h5>
                <i class="article-summary">Cancel Culture as an Internet phenomenon has been previously explored from a social and legal science perspective. This paper demonstrates how Natural Language Processing tasks can be derived from this previous work, underlying techniques on how cancel culture can be measured, identified and evaluat...<br></i>
                <span class="article-details">Authors: Justus-Jonas Erker, Catalina Goanta, Gerasimos Spanakis</span>
                <br>
                <span class="article-details">
                    Journal:
                </span>
                <br>
                <span class="article-details">Year: 2022</span>
                <br>
                <span class="article-details">
                    Times Cited: 0
                </span>
                <br>
                <a href="https://www.semanticscholar.org/paper/ee7a4a90c28bc1e27eb7567750782b648a64edb3" class="article-details">Link</a>
                <p></p>
            </div>
        </div>
    </div>
</div>
<script>
    let terms = ["climate change", "gun rights", "immigration", "womens rights", "LGBTQ+ rights", "abortion", "cancel culture", "free speech", "affirmative action", "animal testing", "legalization of drugs", "death sentence", "privacy and surveillance", "mandatory vaccinations", "wealth distribution", "artificial intelligence in the workforce", "cultural appropriation", "nuclear power", "religious freedom", "GMOs", "assisted suicide"]
    async function asyncWhileLoop() {
        let i = Math.floor(Math.random() * (terms.length - 1 - 0 + 1)) + 0;
        while (true) {
            if (i >= terms.length) {
                i = 0;
            }
            let term = terms[i];
            for (let j = 0; j < term.length + 1; j++) {
                document.getElementById("searchTerm").placeholder = term.substring(0, j);
                await new Promise(resolve => setTimeout(resolve, 50));
            }
            await new Promise(resolve => setTimeout(resolve, 2000));
            for (let j = term.length + 1; j >= 0; j--) {
                document.getElementById("searchTerm").placeholder = term.substring(0, j);
                await new Promise(resolve => setTimeout(resolve, 50));
            }
            await new Promise(resolve => setTimeout(resolve, 100));
            i++;
        }
    }
    asyncWhileLoop();
</script>